@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.bodyLong01 {
    @include type.type-style('body-long-01');
}

.label01 {
    @include type.type-style('label-01');
    color: colors.$gray-60;
    font-weight: bold;
}

.displayValue {
    @include type.type-style('body-short-01');
    color: colors.$gray-100;
}