@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formContainer {
  margin: layout.$spacing-05;
  overflow-y: auto;
  flex: 1 1 auto;
  padding-bottom: layout.$spacing-11;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: colors.$white;
}

.desktop {
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.formStackControl {
  margin-bottom: layout.$spacing-05;
}
